.form-container{
    display: grid;
    justify-content: center;
}

.pokemon-form{
    width: 300px;
    display: grid;
    grid-gap: 1rem;
    margin: 2rem 0;
    padding: 1rem 0;
    justify-items: center;  
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.60);
    border-radius: .5rem;
}
.input-container {
    margin: 1px;
}