.landing-page {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    background-image: url("https://static.tumblr.com/e0bc6187fce6b618bc592ca6f7e6747f/s7zb8lv/lRio2kavc/tumblr_static__2048_v2.jpg");
    background-size: cover;
}

.enter-button{
    border: none;
    background: none;
    cursor: pointer;
    color: black;
    font-size: 3em;
    font-weight: 900;
    transition: all .8s linear;
}

.enter-button:hover{
    transform: scale(1.15);
}
